.container {
  margin-top: 20px;
}

div.title-ads {
  padding: 2em;
  background-size: cover;
  background-position: center center;
}

div.title-ads h1,
div.title-ads p {
  color: white;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

div.carousel-caption {
  color: white;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
