{% extends 'base.html.twig' %}

{% block title %}Modifier l'article{% endblock %}

{% block body %}
    <h1>Modifier l'article</h1>

    {{ include('article/_form.html.twig', {'button_label': '<i class="fa fa-pencil" aria-hidden="true"></i> Modifier'}) }}

    <a href="{{ path('article_index_admin') }}">Retour à la liste</a>

    {% endblock %}
